<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.plz.modules.dao.FetchRecordMapper">
  <resultMap id="BaseResultMap" type="com.plz.modules.model.FetchRecord">
    <result column="t_id" jdbcType="INTEGER" property="tId" />
    <result column="t_warehouseId" jdbcType="INTEGER" property="tWarehouseid" />
    <result column="t_odd" jdbcType="VARCHAR" property="tOdd" />
    <result column="t_discount" jdbcType="REAL" property="tDiscount" />
    <result column="t_other_cost" jdbcType="DOUBLE" property="tOtherCost" />
    <result column="t_other_costName" jdbcType="VARCHAR" property="tOtherCostname" />
    <result column="t_paid" jdbcType="DOUBLE" property="tPaid" />
    <result column="t_salesman" jdbcType="VARCHAR" property="tSalesman" />
    <result column="t_create_date" jdbcType="TIMESTAMP" property="tCreateDate" />
    <result column="t_deliverWay" jdbcType="VARCHAR" property="tDeliverway" />
    <result column="t_remake" jdbcType="VARCHAR" property="tRemake" />
    <result column="t_type" jdbcType="VARCHAR" property="tType" />
    <result column="t_customId" jdbcType="INTEGER" property="tCustomid" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.plz.modules.model.FetchRecord">
    <result column="t_photo" jdbcType="LONGVARCHAR" property="tPhoto" />
  </resultMap>
  <sql id="Blob_Column_List">
    t_photo
  </sql>
  <insert id="insert" parameterType="com.plz.modules.model.FetchRecord">
    insert into t_fetch_record (t_id, t_warehouseId, t_odd, 
      t_discount, t_other_cost, t_other_costName, 
      t_paid, t_salesman, t_create_date, 
      t_deliverWay, t_remake, t_type, 
      t_customId, t_photo)
    values (#{tId,jdbcType=INTEGER}, #{tWarehouseid,jdbcType=INTEGER}, #{tOdd,jdbcType=VARCHAR}, 
      #{tDiscount,jdbcType=REAL}, #{tOtherCost,jdbcType=DOUBLE}, #{tOtherCostname,jdbcType=VARCHAR}, 
      #{tPaid,jdbcType=DOUBLE}, #{tSalesman,jdbcType=VARCHAR}, #{tCreateDate,jdbcType=TIMESTAMP}, 
      #{tDeliverway,jdbcType=VARCHAR}, #{tRemake,jdbcType=VARCHAR}, #{tType,jdbcType=VARCHAR}, 
      #{tCustomid,jdbcType=INTEGER}, #{tPhoto,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.plz.modules.model.FetchRecord">
    insert into t_fetch_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tId != null">
        t_id,
      </if>
      <if test="tWarehouseid != null">
        t_warehouseId,
      </if>
      <if test="tOdd != null">
        t_odd,
      </if>
      <if test="tDiscount != null">
        t_discount,
      </if>
      <if test="tOtherCost != null">
        t_other_cost,
      </if>
      <if test="tOtherCostname != null">
        t_other_costName,
      </if>
      <if test="tPaid != null">
        t_paid,
      </if>
      <if test="tSalesman != null">
        t_salesman,
      </if>
      <if test="tCreateDate != null">
        t_create_date,
      </if>
      <if test="tDeliverway != null">
        t_deliverWay,
      </if>
      <if test="tRemake != null">
        t_remake,
      </if>
      <if test="tType != null">
        t_type,
      </if>
      <if test="tCustomid != null">
        t_customId,
      </if>
      <if test="tPhoto != null">
        t_photo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tId != null">
        #{tId,jdbcType=INTEGER},
      </if>
      <if test="tWarehouseid != null">
        #{tWarehouseid,jdbcType=INTEGER},
      </if>
      <if test="tOdd != null">
        #{tOdd,jdbcType=VARCHAR},
      </if>
      <if test="tDiscount != null">
        #{tDiscount,jdbcType=REAL},
      </if>
      <if test="tOtherCost != null">
        #{tOtherCost,jdbcType=DOUBLE},
      </if>
      <if test="tOtherCostname != null">
        #{tOtherCostname,jdbcType=VARCHAR},
      </if>
      <if test="tPaid != null">
        #{tPaid,jdbcType=DOUBLE},
      </if>
      <if test="tSalesman != null">
        #{tSalesman,jdbcType=VARCHAR},
      </if>
      <if test="tCreateDate != null">
        #{tCreateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="tDeliverway != null">
        #{tDeliverway,jdbcType=VARCHAR},
      </if>
      <if test="tRemake != null">
        #{tRemake,jdbcType=VARCHAR},
      </if>
      <if test="tType != null">
        #{tType,jdbcType=VARCHAR},
      </if>
      <if test="tCustomid != null">
        #{tCustomid,jdbcType=INTEGER},
      </if>
      <if test="tPhoto != null">
        #{tPhoto,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
</mapper>