<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.plz.modules.mapper.FetchGoodsRecordMapper">
  <resultMap id="BaseResultMap" type="com.plz.modules.model.FetchGoodsRecord">
    <result column="t_id" jdbcType="INTEGER" property="tId" />
    <result column="t_goods" jdbcType="INTEGER" property="tGoods" />
    <result column="t_num" jdbcType="INTEGER" property="tNum" />
    <result column="t_type" jdbcType="BIT" property="tType" />
  </resultMap>


</mapper>