<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.plz.modules.mapper.GoodsMapper">
  <resultMap id="BaseResultMap" type="com.plz.modules.model.Goods">
    <result column="t_id" jdbcType="INTEGER" property="id" />
    <result column="t_name" jdbcType="VARCHAR" property="name" />
    <result column="t_size" jdbcType="VARCHAR" property="size" />
    <result column="t_brand" jdbcType="VARCHAR" property="brand" />
    <result column="t_texture" jdbcType="VARCHAR" property="texture" />
    <result column="t_remark" jdbcType="VARCHAR" property="remark" />
    <result column="t_price" jdbcType="DOUBLE" property="price" />
    <result column="t_reticule_state" jdbcType="TINYINT" property="ifNeedReticule" />
    <result column="t_shoecover_state" jdbcType="TINYINT" property="ifNeedShoeCover" />
    <result column="t_container_size" jdbcType="INTEGER" property="containerSize" />
  </resultMap>

  <sql id="Base_Column_List">
    t_id, t_name, t_size, t_brand, t_texture, t_remark, t_price, t_reticule_state,
    t_shoecover_state, t_container_size
  </sql>

  <select id="list" resultMap="BaseResultMap">
    SELECT
        <include refid="Base_Column_List"/>
    FROM
        t_goods
    WHERE 1 = 1
    <if test="query.name != null and query.name != ''">
        AND t_name = #{query.name}
    </if>
    ORDER BY t_id
  </select>

  <select id="ifRepetition" resultType="java.lang.Integer">
    SELECT t_id FROM t_goods
    WHERE t_name = #{goods.name} AND t_size = #{goods.size} AND t_brand = #{goods.brand} AND t_texture = #{goods.texture}
  </select>


</mapper>