<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.plz.modules.mapper.SaveRecordMapper">
  <resultMap id="BaseResultMap" type="com.plz.modules.model.SaveRecord">
    <result column="t_id" jdbcType="INTEGER" property="id" />
    <result column="t_odd" jdbcType="VARCHAR" property="odd" />
    <result column="t_warehouseId" jdbcType="INTEGER" property="warehouseId" />
    <result column="t_discount" jdbcType="FLOAT" property="discount" />
    <result column="t_paid" jdbcType="DOUBLE" property="paid" />
    <result column="t_remark" jdbcType="VARCHAR" property="remark" />
    <result column="t_supplierId" jdbcType="INTEGER" property="supplierId" />
    <result column="t_signer" jdbcType="VARCHAR" property="signer" />
    <result column="t_received_time" jdbcType="TIMESTAMP" property="receivedTime" />
    <result column="t_create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="warehouseName" jdbcType="VARCHAR" property="warehouseName" />
    <result column="supplierName" jdbcType="VARCHAR" property="supplierName" />
    <collection property="saveGoodsRecordList" javaType="java.util.ArrayList"
                select="com.plz.modules.mapper.SaveGoodsRecordMapper.selectByRecordId" column="{recordId=t_id}"/>
  </resultMap>

  <sql id="Base_Column">
    t_id, t_odd, t_warehouseId, t_discount, t_paid, t_remark, t_supplierId, t_signer, t_received_time, t_create_time
  </sql>

  <select id="list" resultMap="BaseResultMap">
    SELECT
        r.t_id, r.t_odd, r.t_warehouseId, r.t_discount, r.t_paid, r.t_remark, r.t_supplierId, r.t_signer,
        r.t_received_time, r.t_create_time, w.t_name AS warehouseName, s.t_name AS supplierName
    FROM
        t_save_record r
        LEFT JOIN t_warehouse w ON r.t_warehouseId = w.t_id
        LEFT JOIN t_supplier s ON r.t_supplierId = s.t_id
    WHERE 1=1
    <if test="query.warehouseId != null" >
        AND r.t_warehouseId = #{query.warehouseId}
    </if>
    <if test="query.odd != null and query.odd != ''" >
        AND r.t_odd LIKE concat('%', #{query.odd}, '%')
    </if>
    ORDER BY r.t_create_time DESC
  </select>

</mapper>