<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.plz.modules.mapper.WarehouseMapper">
  <resultMap id="BaseResultMap" type="com.plz.modules.model.Warehouse">
    <result column="t_id" jdbcType="INTEGER" property="id" />
    <result column="t_name" jdbcType="VARCHAR" property="name" />
    <result column="t_leader" jdbcType="VARCHAR" property="leader" />
    <result column="t_leader_phone" jdbcType="VARCHAR" property="leaderPhone" />
    <result column="t_sort" jdbcType="TINYINT" property="sort" />
    <result column="t_remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>

  <sql id="Base_Column">
    t_id, t_name, t_leader, t_leader_phone, t_sort, t_remark
  </sql>

  <select id="list" resultMap="BaseResultMap">
    SELECT
        <include refid="Base_Column"/>
    FROM
        t_warehouse
    WHERE 1=1
    <if test="query.name != null and query.name != ''">
        AND t_name LIKE concat('%', #{query.name}, '%')
    </if>
    ORDER BY t_sort DESC
  </select>

  <select id="ifRepetition" resultType="java.lang.Integer">
    SELECT t_id FROM t_custom WHERE t_name = #{name}
  </select>

</mapper>